<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>

  <%- include('./partials/nav'); %>

  <h3 class=" p-5 font-bold text-2xl text-center">
    Bitte melde dich an, um die Seite zu sehen.
  </h3>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mx-auto block">
    <a href="/auth/login">Login</a>
  </button>

</body>

</html>