<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>

</head>

<body>

  <%- include('./partials/nav'); %>

  <button>
    <a href="/recipients">Empfänger</a>
  </button>

</body>

</html>